NEXT_PUBLIC_URL=
# === X402 config ===
X402_CHAIN=base-sepolia
X402_AMOUNT=1000000
X402_APP_SECRET=dev-secret
X402_FACILITATOR_URL=

# USDC addresses
NEXT_PUBLIC_USDC_ADDRESS_BASE=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
NEXT_PUBLIC_USDC_ADDRESS_BASE_SEPOLIA=0x2CFa501B92F2e54846225ccDiCE0000000000000
